/* Desktop */
@media screen and (min-width: 992px) {
  #menu-icon {
    display: none;
  }

  .mobile-header {
    display: none;
  }

  .show-on-mobile {
    display: none;
  }
}

/* Tablet & Mobile */
@media screen and (max-width: 991px) {
  .nav {
    display: none;
  }

  .header .body {
    position: relative;
  }

  .header.fixed {
    top: -20px;
  }

  .header .body .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hero .media-block .img {
    width: 300px;
  }

  .hero .hero-schedule {
    right: 250px;
    bottom: 120px;
  }

  .hero .hero-courses {
    top: 230px;
  }

  .features .features-list {
    justify-content: center;
  }

  .courses .courses-list {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(1, 1fr);
  }

  .stats .stats-list {
    justify-content: space-around;
  }

  .column-avatars {
    display: none;
  }

  .quotes .column-content {
    margin-left: auto;
    margin-right: auto;
  }

  .contact .contact-body {
    display: inline-block;
  }

  .contact .desc {
    margin-bottom: 18px;
  }

  .footer {
    padding: 80px 10px 0;
  }

  /* JS Menu */
  /* Sidebar CSS */
  .nav {
    position: fixed;
    top: 0;
    right: -300px; /* Ẩn ngoài màn hình */
    width: 300px;
    height: 100%;
    background: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease;
    z-index: 1000;
  }

  /* Hiển thị Sidebar */
  .nav.show {
    right: 0; /* Trượt vào màn hình */
  }

  /* Overlay CSS */
  .menu-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3); /* Mờ nền */
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease;
  }

  .menu-drawer {
    position: fixed;
    padding: 40px;
    inset: 0 40% 0 0; /* Đặt menu vào phần phải màn hình */
    background: #fff; /* Nền trắng */
    z-index: 2; /* Đặt menu lên trên overlay */
    transform: translateX(-100%); /*Đẩy menu ra khỏi màn hình*/
    transition: 0.5s ease;
  }

  .menu-drawer ul {
    margin-top: 32px;
  }

  .menu-drawer ul a {
    display: block;
    padding: 14px 0;
    color: #2f3a3b;
  }

  /* Hiển thị Overlay */
  /* Active States */
  .menu-overlay.show {
    opacity: 1;
    visibility: visible;
  }

  .menu-drawer.show {
    transform: translateX(0); /* Hiện menu */
  }

  .separate {
    border-top: 1px solid #1ebfc1;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .show-on-mobile {
    display: none;
  }

  .header .body {
    padding: 30px 0 8px;
  }

  .header .body .logo {
    top: 60%;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  .menu-drawer {
    inset: 0 25% 0 0;
    padding: 40px;
  }

  .hero .media-block .img {
    display: none;
  }

  .hero .content-block {
    width: 100%;
  }

  .hero .media-block {
    display: none;
  }

  .header .actions {
    display: none;
  }

  .header .body {
    padding: 14px 0 8px;
  }

  .header .body .logo {
    top: 60%;
  }

  .features .heading.lv2 {
    width: 100%;
  }

  .features .desc {
    width: 100%;
  }

  .features .features-list {
    display: grid;
  }

  .quotes .column-content {
    width: 100%;
  }
  .quotes .quotes-content {
    width: 100%;
  }

  .stats .stats-list {
    display: block;
  }
}

/* Mobile Xsmall */
@media screen and (max-width: 576px) {
}
