* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/*===========================Common===========================*/

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #2f3a3b;
}

.btn {
  display: inline-block;
  min-width: 186px;
  padding: 0 16px;
  line-height: 68px;
  color: #1ebfc1;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 6px;
  border: 1px solid #1ebfc1;
}

.btn:hover {
  /* opacity: 0.9; */
  background-color: #1ebfc1;
  color: #fff;
  transition: all ease-out 0.2s;
}

.heading {
  color: #0d1111;
  font-weight: 700;
}

.heading.lv1 {
  font-size: 6.2rem;
  line-height: 1.16; /* 116.129% */
}

.heading.lv2 {
  font-size: 4.2rem;
  line-height: 1.33; /* 133.333% */
}

.heading.lv3 {
  font-size: 2.2rem;
  line-height: normal;
}

.progress {
  height: 6px;
  border-radius: 999px;
  background: #fb9899;
}

.top-title {
  display: block;
  min-width: 95px;
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: normal;
  word-spacing: 2px;
}

/*===========================Header===========================*/

.header {
  background-color: #fff;
}

header.fixed {
  position: sticky;
  top: -44px;
  z-index: 1;
  /* border-bottom: 1px solid #9dc3c1; */
}

.header .body {
  display: flex;
  align-items: center;
  padding: 52px 0 8px;
}

.header .sign-up-btn {
  min-width: 108px;
  line-height: 48px;
  margin-left: 24px;
}

.header .actions {
  margin-left: auto;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  /* display: inline-block; */
  padding: 8px 20px;
  color: #2f3a3b;
  font-size: 1.6rem;
}

.nav a:hover,
.nav li.active {
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}

/* Hero */
.hero {
  padding: 42px 0 79px;
}

.hero .hero-body {
  display: flex;
}

.hero .content-block {
  width: 40%;
  /* margin-top: 147px; */
  padding: 93px 0 0 0;

  /* margin-right: 136px; */
}

.hero .slogan {
  color: #767e7e;
  font-size: 1.4rem;
}

.hero .heading {
  padding-top: 18px;
}

.hero .desc {
  color: #9da6a5;
  font-size: 1.8rem;
  line-height: 1.7; /* 177.778% */
  margin: 46px 84px 0 0;
}

.hero .cta-group {
  margin-top: 52px;
  display: flex;
  align-items: center;
}

.hero .watch-video {
  display: flex;
  align-items: center;
  border: none;
  background: #ffffff;
  cursor: pointer;
  margin-left: 50px;
}

.hero .watch-video:hover {
  opacity: 0.8;
}

.hero .watch-video .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  box-shadow: 0px 22px 50px 0px #0000000d;
}

.hero .btn-hero {
  border-radius: 14px;
  background: #1ebfc1;
  color: #fff;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
  border: none;
}

.hero .btn-hero:hover {
  background-color: #fff;
  color: #1ebfc1;
  /* border: 1px solid #1ebfc1; */
  outline: 1px solid #1ebfc1;
}

/* .content-block .watch-video img {
  text-align: center;
} */

/* Hero Right */

.hero .media-block {
  width: 60%;
  position: relative;
  /* margin-right: 136px; */
}

/* .hero .media-block .card-items {
  position: relative;
}

.media-block .card-items img {
  position: absolute;
  top: 0;
} */

.hero .media-block .img {
  width: 576px;
  height: 631px;
  object-fit: cover;
  margin-left: 136px;
  vertical-align: bottom;
}

.hero .hero-courses {
  position: absolute;
  display: flex;
  align-items: center;
  width: 157px;
  height: 75px;
  top: 149px;
  margin-left: 96px;
  padding: 18px 25px;
  border-radius: 18px;
  background: #fefefd;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .course-title {
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
}

.hero .courses-book {
  position: relative;
  width: 36px;
  height: 40px;
  margin-right: 16px;
  background: #ff8282;
  border-radius: 4px 2px 2px 4px;
  flex-shrink: 0;
}

.hero .courses-book::after {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 4px;
  right: 4px;
  width: 28px;
  height: 4px;
  border-radius: 999px;
  background: #ffffff;
}

.hero .hero-schedule {
  position: absolute;
  right: 517px;
  bottom: 46px;
  width: 124px;
  height: 132px;
  padding: 16px 25px 23px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-schedule .schedule-title {
  display: block;
  text-align: center;
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 16px;
}

.hero-schedule .background-bar {
  width: 74px;
  height: 6px;
  border-radius: 3px;
  background: #edf1f5;
}

.hero-schedule .background-bar:nth-child(2) {
  margin: 12px 0 10px;
}

.hero-schedule .background-bar:last-child {
  margin: 16px auto 0;
  width: 26px;
  height: 6px;
}

.hero-schedule .progress-bar-1 {
  width: 39px;
}

.hero-schedule .progress-bar-2 {
  width: 51px;
}

.hero-schedule .progress-bar-3 {
  width: 33px;
}

.hero .student-title {
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
}

.hero .list-students {
  position: absolute;
  bottom: 41px;
  right: 45px;
  padding: 17px 35px;
  width: 207px;
  height: 90px;
  border-radius: 24px;
  background: #fefefd;
  box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .list-avatars {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.list-students .avatar {
  width: 33px;
  height: 33px;
  margin-left: -7px;
  border-radius: 50%;
  object-fit: cover;
}

.list-avatars .avatar-generation {
  background: #1ebfc1;
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 33px; /*căn giữa theo chiều cao */
  text-align: center; /*căn giữa theo chiều cao */
}

/*===========================Features===========================*/

.features {
  margin-top: 149px;
}

.features .main-content {
  width: 1024px;
}

.features .top-title {
  margin-bottom: 18px;
}

.features .heading.lv2 {
  width: 577px;
  margin-bottom: 18px;
  /* height: 112px; */
}

.features .desc {
  width: 590px;
  color: #767e7e;
  font-size: 1.8rem;
  line-height: normal;
  margin-bottom: 80px;
}

.features .features-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features-list .feature-title {
  font-size: 2rem;
  font-weight: 600;
  line-height: normal;
  margin: 26px 0 16px;
}

.features-list .feature-desc {
  width: 224px;
  color: #9da6a5;
  font-size: 1.6rem;
  line-height: 1.69; /* 168.75% */
}

/*===========================Courses===========================*/

.courses {
  margin-top: 130px;
}

.courses .heading.lv2 {
  margin-top: 18px;
  line-height: normal;
}

.courses .row {
  display: flex;
  justify-content: space-between;
  margin-top: 19px;
}

.courses .row .desc {
  width: 525px;
  color: #767e7e;
  font-size: 1.8rem;
  line-height: 1.78; /* 177.778% */
}

.courses .row .link {
  display: flex;
  align-items: center;
  color: #1ebfc1;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: normal;
  text-decoration: underline;
}

.courses .courses-list {
  display: flex;
  gap: 47px;
  margin-top: 79px;
}

.courses .course-item {
  position: relative;
  width: 359px;
  height: 517px;
}

.courses .courses-list .img-wrap {
  width: 100%;
  height: 393px;
  opacity: 0.7;
  background: #d0efed;
  border-radius: 8px;
}

.courses .course-item .thumb {
  width: 100%;
  height: 393px;
  object-fit: cover;
  border-radius: 8px;
}

.courses .courses-list .course-content {
  position: absolute;
  top: 322px;
  left: 50%;
  transform: translateX(-50%);
  width: 325px;
  height: 195px;
  background-color: #fff;
  padding: 18px 0 29px 25px;
  /* margin-left: auto;
  margin-right: auto; */
  border-radius: 8px;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

/* .courses .courses-list .title {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: normal;
} */

.courses .courses-list .price {
  color: #767e7e;
  font-size: 1.6rem;
  line-height: normal;
  margin-top: 16px;
}

/* .courses .courses-list strong {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: normal;
} */

.courses .courses-list .desc {
  color: #9da6a5;
  font-size: 1.4rem;
  line-height: normal;
  margin-top: 6px;
}

.courses .row-content {
  display: flex;
  margin-top: 18px;
}

.courses .row-content-wrap {
  display: flex;
  align-items: center;
}

.courses .row-content .row-content-classes,
.courses .row-content .row-content-month {
  color: #9da6a5;
  font-size: 1.4rem;
  line-height: normal;
  margin-left: 10px;
}

.courses .row-content .dot {
  width: 6px;
  height: 6px;
  background: #1ebfc1;
  border-radius: 50%;
  align-items: center;
  margin-left: 10px;
}

.courses .row-content-wrap:first-child .dot {
  margin-left: 0;
}

/*===========================Stats===========================*/

.stats {
  margin-top: 265px;
}

.stats .main-content {
  width: 862px;
}

.stats .stats-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stats .stats-item {
  text-align: center;
}

.stats .stats-quatity strong {
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: normal;
  margin-left: auto;
  margin-right: auto;
}

.stats .stats-popularity {
  color: #767e7e;
  font-size: 18px;
  line-height: normal;
}

/*===========================Quotes===========================*/

.quotes {
  /* display: flex;
  justify-content: center; */
  /*  */
  margin-top: 264px;
}

.quotes .quotes-body {
  display: flex;
  /* gap: 72px; */
}

.quotes .column-content {
  width: 36%;
  margin-right: 72px;
}
.quotes .open-quotation-mark {
  margin-top: 37px;
}

.quotes .quotes-content {
  width: 419px;
  margin-top: 27px;
  color: #5d6564;
  font-size: 3.2rem;
  line-height: 1.5;
}

.quotes .author-info {
  margin-top: 33px;
  display: flex;
  align-items: center;
}

.quotes .author-info .mark {
  width: 8px;
  height: 2px;
  background: #070707;
  margin-right: 5px;
}

.quotes .author-name {
  color: #070707;
  font-size: 1.6rem;
  font-weight: 500;
}
.quotes .author-name::after {
  content: ", ";
  white-space: pre;
}

.quotes .author-role {
  color: #767e7e;
  font-size: 1.6rem;
}

.quotes .controls {
  display: flex;
  gap: 30px;
  margin-top: 52px;
}

.quotes .control-btn {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background: #2ac9bf;
  color: #fff;
}

.quotes .control-btn:hover {
  color: #2ac9bf;
  background: #fff;
  cursor: pointer;
  outline: 1px solid #2ac9bf;
  transition: all ease-out 0.2s;
}

.quotes .column-avatars {
  position: relative;
  width: 61%;
  /* margin-left: 72px; */
}

.quotes .column-avatars .avatar {
  position: absolute;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  object-fit: cover;
}

.quotes .column-avatars .avatar-middle {
  width: 235px;
  height: 235px;
  top: 107px;
  /* bottom: 139px; */
  right: 171px;
}

.quotes .column-avatars .avatar-top-left {
  top: 0;
  left: 144px;
}

.quotes .column-avatars .avatar-left-side {
  top: 258px;
  left: 0;
}

.quotes .column-avatars .avatar-bottom-left {
  left: 212px;
  bottom: 0;
}

.quotes .column-avatars .avatar-bottom-right {
  right: 32px;
  bottom: 29px;
}

.quotes .column-avatars .avatar-top-right {
  top: 19px;
  right: 0;
}

/*===========================Contact===========================*/
/*===========================Footer===========================*/
