* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Common */

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #2f3a3b;
}

.btn {
  display: inline-block;
  min-width: 186px;
  padding: 0 16px;
  line-height: 68px;
  color: #1ebfc1;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 6px;
  border: 1px solid #1ebfc1;
}

.btn:hover {
  /* opacity: 0.9; */
  background-color: #1ebfc1;
  color: #fff;
  transition: all ease-out 0.2s;
}

.heading {
  color: #0d1111;
  font-weight: 700;
}

.heading.lv1 {
  font-size: 6.2rem;
  line-height: 1.16; /* 116.129% */
}

/* Header */
.header {
  background-color: #fff;
}

header.fixed {
  position: sticky;
  top: -44px;
  /* border-bottom: 1px solid #9dc3c1; */
}

.header .body {
  display: flex;
  align-items: center;
  padding: 52px 0 8px;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  /* display: inline-block; */
  padding: 8px 20px;
  color: #2f3a3b;
  font-size: 1.6rem;
}

.nav a:hover,
.nav li.active {
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}

.header .sign-up-btn {
  min-width: 108px;
  line-height: 48px;
  margin-left: 24px;
}

.header .actions {
  margin-left: auto;
}

/* Hero */

.hero {
  padding: 42px 0 79px;
}

.hero .hero-body {
  display: flex;
}

.hero .content-block {
  width: 40%;
  /* margin-top: 147px; */
  padding: 93px 0 0 0;

  /* margin-right: 136px; */
}

.content-block .slogan {
  color: #767e7e;
  font-size: 1.4rem;
}

.content-block .heading {
  padding-top: 18px;
}

.content-block .desc {
  color: #9da6a5;
  font-size: 1.8rem;
  line-height: 1.7; /* 177.778% */
  margin: 46px 84px 0 0;
}

.content-block .cta-group {
  margin-top: 52px;
}

.content-block .watch-video {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: none;
  margin-left: 50px;
  background: #fff;
  box-shadow: 0px 22px 50px 0px #0000000d;
  cursor: pointer;
}

.content-block .btn-hero {
  border-radius: 14px;
  background: #1ebfc1;
  color: #fff;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
  border: none;
}

.content-block .btn-hero:hover {
  opacity: 0.9;
}

/* .content-block .watch-video img {
  text-align: center;
} */

/* Hero Right */

.hero .media-block {
  width: 60%;
  /* margin-right: 136px; */
}

.hero .media-block .img {
  width: 576px;
  height: 631px;
  object-fit: cover;
  margin-left: 136px;
  vertical-align: bottom;
}
